<mat-toolbar class = "fixed-nav" color = "primary">
  <span class = "flex-fill is-centered">Ejercicio Intive</span>
  <mat-toolbar-row>
    <visitor-greeting class = "flex-fill is-centered" [visitor] = "visitor"></visitor-greeting>
  </mat-toolbar-row>
</mat-toolbar>

<div class="main" fxLayout = "row wrap" fxLayoutAlign = "center start" fxLayoutGap="10px">
  <visitor-form (onVisitorAdded)="onVisitorAdded($event)" fxFlex></visitor-form>
  <visitor-list (onVisitorSelected)="onVisitorSelected($event)" [visitors] = "visitors" fxFlex></visitor-list>
</div>

<div class="footer">
    <span class = "is-centered">Nombre: {{ interviewed }}</span>
</div>