/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink);

$custom-app-theme: mat-light-theme($primary, $accent);

@include angular-material-theme($custom-app-theme);

body {
    font-family: 'Roboto', sans-serif;
}

.is-centered {
    text-align: center;
}

.flex-fill {
    flex: 1 1 auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: mat-color($primary, 500);
    padding: 1rem;
    color: white;
    text-align: center;
}